Package: libccore-dev
Source: libccore
Version: 0.3-1
Architecture: amd64
Maintainer: Thomas Versteeg <thomasversteeg@gmx.com>
Installed-Size: 919
Section: libdevel
Priority: optional
Homepage: https://github.com/jobtalle/ccore
Description: A low level abstraction layer for games
 A development library for games which makes it easier to use low level system functionality while maintaining cross-platform useabillity. It is currently developed for Win32 (Windows 2000 and higher) and Linux with X11. We are planning on adding a Mac version later.
